<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="game.css">
</head>
<body>
	<div ng-app="app">
		<div ng-controller="GameCtrl as game">
			<div id="game">
				<div id="board">
					<div ng-repeat="(id,square) in game.board" class="square" ng-class="game.chckBrd(square.x, square.y) ? 'squareBlack' : 'square'" id="{{id}}">
					</div>
					<div id="pieces">
						<div ng-repeat="(id,piece) in game.pieces" class="{{piece.color}}" id="{{id}}" ng-style="{'top':'{{piece.top}}', 'left': '{{piece.left}}'}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>
