<div class="dashContainer">
	<div class="navBar">
		<h1 class="dashHead">Checkers</h1>
		<h2 class="dashHead small">{{dash.heading}}</h2>
		<button type="submit" ng-click="dash.logOut()" class="dashLogout btn btn-default">Logout</button>
		<a href="https://github.com/hannahhall/checkers" target="_blank" class="github"><img src="img/GitHub-Mark-Light-32px.png" alt="GitHub Link"></a>
	</div>
	<div class="gameContain">
		<div class="dashGame newGame" ng-click="dash.newGame()">
			<p><span>C</span>reate <span>N</span>ew <span>G</span>ame</p>
			<div class="piece red dashPiece"></div>
			<div class="piece white dashPieceW king"></div>
		</div>
		<div
			ng-repeat="(key,game) in dash.games"
			ng-click="dash.joinGame(key)"
			class="dashGame"
			ng-class="game.player2 ? 'closed' : 'open'"
		>
			<p><span>J</span>oin <span>G</span>ame</p>
			<div class="piece red dashPiece"></div>
			<div class="piece white dashPieceW king"></div>
		</div>
	</div>
</div>
