<div id="game">
	<div
		class="results ng-hide"
		ng-show="game.player1Death === 8 || game.player2Death === 8">winner
		<p ng-show="game.player1Death === 8" class="ng-hide">Player 2 wins</p>
		<p ng-show="game.player2Death === 8" class="ng-hide"> Player 1 Wins</p>
		<button type="button" ng-click="game.reset()">Play Again?</button>
	</div>
	<div>
		<button type="button" ng-click="game.leaveGame()" class="btn btn-default gameBtn">Leave Game</button>
		<button type="submit" ng-click="game.logOut()" class="btn btn-default gameBtn">Logout</button>
		<p>. You are player {{game.player}} with {{game.playerColor}}.
	</div>
	<div class="col-md-1 player">
		<p>Welcome {{game.playerEmail}}</p>
		<div>
			<div class="piece {{game.playerColor}}"></div>
		</div>
	</div>
	<div id="board" class="col-md-6">

		<div
			ng-repeat="square in game.board"
			id="{{index}}"
			ng-class="game.chckBrd(square.x, square.y) ? 'squareBlack' : 'square'"
			ng-click="game.chooseSquare(square)">
		</div>
		<div id="pieces">
			<div
				ng-repeat="(id,piece) in game.pieces"
				class="piece {{piece.color}}" id="{{id}}"
				ng-style="{
					'top': piece.top,
					'left': piece.left
				}"
				ng-click="piece.king ? game.chooseKing($event, piece, id) : piece.player1 ? game.choosePiecePlayer1($event, piece, id) : game.choosePiecePlayer2($event, piece, id)"
				ng-class="piece.king ? 'king': 'none'"
				>
			</div>
		</div>
		<div ng-class="game.toggleTurn() ? 'hide' : 'disabled'">
		</div>
	</div>
	<div class="col-md-1"></div>
	<div class="messageArea col-md-3">
		<div class="messageBoard">
			<p ng-repeat="message in game.messages">{{message.userEmail}}: {{message.userMessage}}</p>
			<form class="form-inline messageInput">
				<div class="form-group">
					<input type="text" name="" value=""  class="form-control" placeholder="Enter message here:" ng-model="game.message">
					<input type="submit" name="" class="btn btn-default gameBtn" ng-click="game.submitMessage()">
				</div>
			</form>
		</div>
	</div>
</div>
